# Auto detect text files and perform LF normalization
* text=auto
.ipynb_checkpoints/
*.mp4
__pycache__
Parking slot detection/Parking slot detection.ipynb
Car number plates recognition with OCR/data
Car number plates recognition with OCR/sort
Car number plates recognition with OCR/runs/classify
Car number plates recognition with OCR/runs